@font-face {
    font-family: Pixel;
    src: url("../../fonts/Pixel-LCD-7.woff") format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url("../../imgs/bg.gif");
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(100, auto);
    justify-content: center;
    align-items: center;
    background: rgba(50,50,50,0.3);
}

.buttons{
    position: relative;
    bottom: 50vh;
    transform: translate(0,+50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 15vh 0 15vh;
}

.buttons button{
    font-size: 1.8vh;
    cursor: pointer;
    font-family: Pixel,Arial, Helvetica, sans-serif;
    background: #333;
    color:white;
    box-shadow: white 2px 0 10px 3px;
    padding: 2vh;
    border-radius: 10px;
    margin: 1vh;
    font-weight: 600;
}
