

.gridBody{
    background-color: #091534;
    display: flex;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(100, auto);
    justify-content: center;
    align-items: center;
    background: rgba(50,50,50,0.3);
}

.buttons{
    position: relative;
    bottom: 50vh;
    transform: translate(0,+50%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 15vh 0 15vh;
}

.buttons button{
    font-size: 1.8vh;
    cursor: pointer;
    background: #333;
    color:white;
    box-shadow: white 2px 0 10px 3px;
    padding: 2vh;
    border-radius: 10px;
    margin: 1vh;
    font-weight: 600;
}
